
<style type="text/css" >
	h1.lgs{
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
</style>


<div class="dashbox">
	<h1 class="lgs">SonarQube - LDAP Group Synchronizer Plugin</h1>
	<br/>		
	<br/><%= button_to 'SonarQube DB - LDAP Group synchronization', {:action => 'synchLDAP'} %>		
	<br/>
	
	<div  style="width:100%;font-size: 9px;text-align:right;">Developed by Balazs Bakai, 2015.08.12</div>
	 
	
</div>
